<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="ida:Tenant" value="ddobalianoutlook.onmicrosoft.com" />
    <add key="ida:ClientId" value="ae31dae8-1f1c-47ee-bff7-f36a02c48ddc" />
    <add key="ida:RedirectUri" value="http://SimpleLogin" />
    <add key="ida:GraphResourceId" value="https://graph.microsoft.net/" />
    <add key="ida:GraphApiVersion" value="1.0" />
    <add key="ida:GraphEndpoint" value="https://graph.microsoft.net/" />
  </appSettings>
</configuration>